*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.intro-heading {
  text-transform: uppercase;
  color: goldenrod;
  font-size: 4.5rem;
  letter-spacing: .1rem;
}
