*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1.7rem;
    font-family: helvetica, arial, sans-serif;
    box-sizing: border-box;
    background-color: #282828;
}

.intro-heading {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 4.5rem;
  letter-spacing: .1rem;
}
